# Trabalho Prático I
###### Aluno: Breno de Sousa Matos
###### Matrícula: 2017086007

In [2]:
import io
import sqlite3
import pandas as pd

Iniciando Conexão

In [4]:
conn = sqlite3.connect('tp1.bd')
cursor = conn.cursor()

Lendo os dados necessários

In [6]:
with open("despesas_publicas_tp1.sql", "r", encoding = "latin-1") as f:
    sql = f.read()
    
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

## 1. Comandos SQL

Meu número de matrícula é $\textbf{2017086007}$. Logo, devo realizar as consultas:
  
 1,9,7,2,3 e 8

### 1.1 Consulta 1

In [47]:
# Liste todos os códigos e nomes de subfunções da função que possui o maior número de subfuncoes.
query = 'select sf.cod_subfuncao, sf.nome_subfuncao from detalhamento_funcao df inner join subfuncao sf on sf.cod_subfuncao = df.cod_subfuncao where df.cod_funcao = (select f.cod_funcao from funcao f inner join detalhamento_funcao df on df.cod_funcao = f.cod_funcao group by f.cod_funcao order by count(*) desc limit 1);'
df = pd.read_sql_query(query,conn)
df

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatização e fiscalização
1            126     Tecnologia da informação
2            131           Comunicação social
3            244      Assistência comunitária
4            306       Alimentação e nutrição
5            365            Educação infantil
6            511      Saneamento básico rural

### 1.2 Consulta 9

In [49]:
# Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) 
# em que o órgão responsável é aquele que possui o maior número de órgãos subordinados.
query = 'select dp.cod_despesa, dp.mes_despesa, dp.ano_despesa, dp.modalidade_despesa, dp.valor_despesa from despesa_publica dp where dp.cod_orgao = (select o.cod_orgao from orgao o order by o.qtd_orgaos_subordinados desc limit 1);'
df = pd.read_sql_query(query,conn)
df

,COD_DESPESA,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,196,10,2018,Reserva de Contingência,0.0
1,197,1,2018,Reserva de Contingência,0.0
2,198,2,2018,Reserva de Contingência,0.0
3,199,3,2018,Reserva de Contingência,0.0
4,200,4,2018,Reserva de Contingência,0.0
5,201,5,2018,Reserva de Contingência,0.0
6,202,6,2018,Reserva de Contingência,0.0
7,203,7,2018,Reserva de Contingência,0.0
8,204,9,2018,Reserva de Contingência,0.0
9,205,10,2018,Reserva de Contingência,0.0
10,206,11,2018,Reserva de Contingência,0.0
11,207,12,2018,Reserva de Contingência,0.0
12,208,1,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
13,209,6,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
14,210,7,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
15,211,8,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
16,212,9,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
17,213,11,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
18,214,12,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
19,215,1,2018,Reserva de Contingência,0.0
20,216,2,2018,Reserva de Contingência,0.0
21,217,3,2018,Reserva de Contingência,0.0
22,218,4,2018,Reserva de Contingência,0.0
23,219,5,2018,Reserva de Contingência,0.0
24,220,6,2018,Reserva de Contingência,0.0
25,221,7,2018,Reserva de Contingência,0.0
26,222,8,2018,Reserva de Contingência,0.0
27,223,9,2018,Reserva de Contingência,0.0
28,224,10,2018,Reserva de Contingência,0.0
29,225,11,2018,Reserva de Contingência,0.0
...,...,...,...,...,...
264,460,3,2018,Reserva de Contingência,0.0
265,461,4,2018,Reserva de Contingência,0.0
266,462,5,2018,Reserva de Contingência,0.0
267,463,6,2018,Reserva de Contingência,0.0
268,464,7,2018,Reserva de Contingência,0.0
269,465,8,2018,Reserva de Contingência,0.0
270,466,9,2018,Reserva de Contingência,0.0
271,467,10,2018,Reserva de Contingência,0.0
272,468,11,2018,Reserva de Contingência,0.0
273,469,12,2018,Reserva de Contingência,0.0
274,470,1,2018,Reserva de Contingência,0.0
275,471,2,2018,Reserva de Contingência,0.0
276,472,3,2018,Reserva de Contingência,0.0
277,473,4,2018,Reserva de Contingência,0.0
278,474,5,2018,Reserva de Contingência,0.0
279,475,6,2018,Reserva de Contingência,0.0
280,476,8,2018,Reserva de Contingência,0.0
281,477,12,2018,Reserva de Contingência,0.0
282,478,1,2018,Reserva de Contingência,0.0
283,479,2,2018,Reserva de Contingência,0.0
284,480,3,2018,Reserva de Contingência,0.0
285,481,4,2018,Reserva de Contingência,0.0
286,482,5,2018,Reserva de Contingência,0.0
287,483,6,2018,Reserva de Contingência,0.0
288,484,7,2018,Reserva de Contingência,0.0
289,485,8,2018,Reserva de Contingência,2400.0
290,486,9,2018,Reserva de Contingência,0.0
291,487,10,2018,Reserva de Contingência,0.0
292,488,11,2018,Reserva de Contingência,0.0
293,489,12,2018,Reserva de Contingência,0.0

### 1.3 Consulta 7

In [58]:
# Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos 
# nas despesas públicas desses órgãos.
# Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no perı́odo.
query = 'select o.nome_orgao, (select distinct count(pg.nome_programa_governo) from despesa_publica dp inner join programa_governo pg on dp.cod_programa_governo = pg.cod_programa_governo where dp.cod_orgao = o.cod_orgao and dp.valor_despesa > 0) as "qtd_programa_governo" from orgao o order by qtd_programa_governo desc;'
df = pd.read_sql_query(query,conn)
df

                                       NOME_ORGAO  qtd_programa_governo
0                          Ministério da Educação                    10
1   Ministério da Agricultura, Pecuária e Abastec                     4
2                             Ministério da Saúde                     3
3                            Ministério da Defesa                     2
4            Ministério do Desenvolvimento Social                     2
5                        Presidência da República                     0
6   Ministério da Ciência, Tecnologia, Inovações                      0
7                           Ministério da Fazenda                     0
8       Ministério da Justiça e Segurança Pública                     0
9              Ministério das Relações Exteriores                     0
10  Ministério dos Transportes, Portos e Aviação                      0
11                    Ministério do Meio Ambiente                     0
12              Ministério da Integração Nacional                     0
13                Ministério dos Direitos Humanos                     0


### 1.4 Consulta 2

In [59]:
# Liste o valor total de despesas públicas por função (nome) e subfunção (nome), apenas
# nos casos em que esse valor total excedeu 200 mil reais.
query = 'select f.nome_funcao, sf.nome_subfuncao, sum(dp.valor_despesa) from detalhamento_funcao df inner join funcao f on f.cod_funcao = df.cod_funcao inner join subfuncao sf on sf.cod_subfuncao = df.cod_subfuncao inner join despesa_publica dp on dp.cod_detalhamento = df.cod_detalhamento group by f.nome_funcao, sf.nome_subfuncao having sum(dp.valor_despesa) > 200000 order by sum(dp.valor_despesa) desc;'

df = pd.read_sql_query(query,conn)
df

          NOME_FUNCAO           NOME_SUBFUNCAO  sum(dp.valor_despesa)
0            Educação          Educação básica              334262.06
1  Assistência social  Assistência comunitária              227883.77

### 1.5 Consulta 3

In [61]:
# Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os
# mesmos, ordenando de forma decrescente pelo valor.
query = 'select o.nome_orgao, sum(dp.valor_despesa) from orgao o inner join despesa_publica dp on dp.cod_orgao = o.cod_orgao where dp.ano_despesa = 2018 group by o.nome_orgao order by sum(dp.valor_despesa) desc;'

df = pd.read_sql_query(query,conn)
df

                                       NOME_ORGAO  sum(dp.valor_despesa)
0                            Ministério da Defesa              353376.70
1            Ministério do Desenvolvimento Social              278586.35
2   Ministério da Agricultura, Pecuária e Abastec               90836.51
3                          Ministério da Educação               64007.82
4                             Ministério da Saúde               50971.19
5   Ministério da Ciência, Tecnologia, Inovações                    0.00
6                           Ministério da Fazenda                   0.00
7               Ministério da Integração Nacional                   0.00
8       Ministério da Justiça e Segurança Pública                   0.00
9              Ministério das Relações Exteriores                   0.00
10                    Ministério do Meio Ambiente                   0.00
11                Ministério dos Direitos Humanos                   0.00
12  Ministério dos Transportes, Portos e Aviação                    0.00
13                       Presidência da República                   0.00

### 1.6 Consulta 8

In [63]:
# Liste os nomes das subfunções das despesas públicas envolvidas para cada programa de
# governo. Sua consulta deve retornar o nome do programa de governo, a subfunção da
# despesa, a quantidade de entradas de despesas públicas e o valor total dessas despesas.
query = 'select pg.nome_programa_governo, sf.nome_subfuncao, count(dp.valor_despesa) as "quantidade", sum(dp.valor_despesa) as "valor total" from programa_governo pg inner join despesa_publica dp on dp.cod_programa_governo = pg.cod_programa_governo inner join detalhamento_funcao df on df.cod_detalhamento = dp.cod_detalhamento inner join subfuncao sf on sf.cod_subfuncao = df.cod_subfuncao group by pg.nome_programa_governo, sf.nome_subfuncao order by pg.nome_programa_governo asc, count(dp.valor_despesa) desc, sum(dp.valor_despesa) desc;'
df = pd.read_sql_query(query,conn)
df

,NOME_PROGRAMA_GOVERNO,NOME_SUBFUNCAO,quantidade,valor total
0,BRASIL SEM MISERIA,Assistência comunitária,117,227883.77
1,BRASIL SEM MISERIA,Alimentação e nutrição,112,100373.55
2,BRASIL SEM MISERIA,Recursos hídricos,34,0.00
3,BRASIL SEM MISERIA,Saneamento básico rural,27,0.00
4,BRASIL SEM MISERIA,Tecnologia da informação,26,58918.28
5,BRASIL SEM MISERIA,Promoção comercial,18,0.00
6,BRASIL SEM MISERIA,Extensão rural,17,0.00
7,BRASIL SEM MISERIA,Difusão do conhecimento científico e tecnológico,13,0.00
8,BRASIL SEM MISERIA,Outros encargos especiais,12,0.00
9,BRASIL SEM MISERIA,Educação infantil,2,0.00
10,BRASIL SEM MISERIA,Comunicação social,1,0.00
11,BRASIL SEM MISERIA,Fomento ao trabalho,1,0.00
12,BRASIL SEM MISERIA,Preservação e conservação ambiental,1,0.00
13,CADEIAS PUBLICAS,Custódia e reintegração social,9,0.00
14,CIENCIA SEM FRONTEIRAS,Desenvolvimento científico,12,0.00
15,CIENCIA SEM FRONTEIRAS,Ensino superior,12,0.00
16,CONTROLE DO CANCER,Assistência hospitalar e ambulatorial,40,38971.19
17,"CRACK, E POSSIVEL VENCER","Direitos individuais, coletivos e difusos",46,0.00
18,"CRACK, E POSSIVEL VENCER",Assistência hospitalar e ambulatorial,19,0.00
19,"CRACK, E POSSIVEL VENCER",Assistência comunitária,12,0.00
20,"CRACK, E POSSIVEL VENCER",Policiamento,7,0.00
21,"CRACK, E POSSIVEL VENCER",Atenção básica,5,0.00
22,"CRACK, E POSSIVEL VENCER",Administração geral,1,0.00
23,"CRACK, E POSSIVEL VENCER",Comunicação social,1,0.00
24,"CRACK, E POSSIVEL VENCER",Formação de recursos humanos,1,0.00
25,CRIMINALIDADE VIOLENTA,Policiamento,1,0.00
26,DESASTRES NATURAIS,Defesa civil,6,0.00
27,DESASTRES NATURAIS,Desenvolvimento científico,4,0.00
28,ENAFRON,Policiamento,14,0.00
29,ENEM,Educação básica,53,334262.06
...,...,...,...,...
35,MAIS MEDICOS,Formação de recursos humanos,2,0.00
36,MELHOR EM CASA,Assistência hospitalar e ambulatorial,15,0.00
37,MELHOR EM CASA,Atenção básica,1,0.00
38,OLIMPIADAS,Defesa terrestre,8,0.00
39,OLIMPIADAS,Informação e inteligência,5,0.00
40,PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...,Atenção básica,2,0.00
41,PRONATEC,Ensino profissional,33,60262.46
42,PROVA BRASIL,Educação básica,22,0.00
43,REDE CEGONHA,Assistência hospitalar e ambulatorial,38,1210.00
44,REGULARIZACAO FUNDIARIA,Ordenamento territorial,29,1497.26
45,REGULARIZACAO FUNDIARIA,Reforma agrária,11,0.00
46,REGULARIZACAO FUNDIARIA,Normatização e fiscalização,2,0.00
47,SATELITE (TELEBRAS),Desenvolvimento tecnológico e engenharia,7,0.00
48,SEGURO RURAL PRIVADO,Promoção da produção agropecuária,10,0.00
49,SINESP,Policiamento,9,0.00
50,SOS EMERGENCIA,Assistência hospitalar e ambulatorial,3,0.00
51,TERRITORIOS DA CIDADANIA,Extensão rural,14,0.00
52,UBS,Atenção básica,9,0.00
53,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...",Assistência hospitalar e ambulatorial,12,0.00
54,VIOLENCIA NO TRANSITO,Policiamento,15,0.00
55,VIVER SEM LIMITE,Assistência hospitalar e ambulatorial,56,0.00
56,VIVER SEM LIMITE,Assistência comunitária,19,0.00
57,VIVER SEM LIMITE,Ensino superior,19,0.00
58,VIVER SEM LIMITE,Atenção básica,18,0.00
59,VIVER SEM LIMITE,Desenvolvimento tecnológico e engenharia,11,0.00
60,VIVER SEM LIMITE,Normatização e fiscalização,11,0.00
61,VIVER SEM LIMITE,Desenvolvimento científico,8,0.00
62,VIVER SEM LIMITE,Assistência ao portador de deficiência,5,0.00
63,VIVER SEM LIMITE,Transferências para a educação básica,2,0.00
64,VIVER SEM LIMITE,Educação básica,1,0.00

## 2 Tradução de Comandos da Álgebra Relacional

### 2.1 Consulta 12

In [43]:
query = 'select NOME_FUNCAO, NOME_SUBFUNCAO from (FUNCAO natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO)'
df = pd.read_sql_query(query,conn)
df

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial à justiça                                Comunicação social
1         Defesa nacional                               Administração geral
2         Defesa nacional                                  Defesa terrestre
3       Segurança pública                               Administração geral
4       Segurança pública                                      Policiamento
5       Segurança pública                                      Defesa civil
6       Segurança pública                         Informação e inteligência
7      Assistência social                       Normatização e fiscalização
8      Assistência social                          Tecnologia da informação
9      Assistência social                                Comunicação social
10     Assistência social                           Assistência comunitária
11     Assistência social                            Alimentação e nutrição
12     Assistência social                                 Educação infantil
13     Assistência social                           Saneamento básico rural
14                  Saúde                      Formação de recursos humanos
15                  Saúde                                    Atenção básica
16                  Saúde             Assistência hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educação             Assistência hospitalar e ambulatorial
19               Educação                               Ensino profissional
20               Educação                                   Ensino superior
21               Educação                                   Educação básica
22               Educação             Transferências para a educação básica
23  Direitos da cidadania            Assistência ao portador de deficiência
24  Direitos da cidadania                    Custódia e reintegração social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistência comunitária
27       Gestão ambiental               Preservação e conservação ambiental
28       Gestão ambiental                                 Recursos hídricos
29   Ciência e Tecnologia                        Desenvolvimento científico
30   Ciência e Tecnologia          Desenvolvimento tecnológico e engenharia
31            Agricultura  Difusão do conhecimento científico e tecnológico
32            Agricultura                 Promoção da produção agropecuária
33    Organização agrária                       Normatização e fiscalização
34    Organização agrária                           Ordenamento territorial
35    Organização agrária                                    Extensão rural
36    Organização agrária                                   Reforma agrária
37              Indústria                                Promoção comercial
38             Transporte                               Administração geral
39     Encargos especiais                         Outros encargos especiais

### 2.2 Consulta 13

In [41]:
query = 'select MODALIDADE_DESPESA,VALOR_DESPESA, NOME_PROGRAMA_GOVERNO from (PROGRAMA_GOVERNO natural join(select MODALIDADE_DESPESA from DESPESA_PUBLICA where MODALIDADE_DESPESA="Reserva de Contingência"))'
df = pd.read_sql_query(query,conn)
df

DatabaseError: Execution failed on sql 'select MODALIDADE_DESPESA,VALOR_DESPESA, NOME_PROGRAMA_GOVERNO from (PROGRAMA_GOVERNO natural join(select MODALIDADE_DESPESA from DESPESA_PUBLICA where MODALIDADE_DESPESA="Reserva de Contingência"))': no such column: VALOR_DESPESA

### 2.3 Consulta 14

In [64]:
query = 'select VALOR_DESPESA,NOME_ORGAO from (DESPESA_PUBLICA natural join (select NOME_ORGAO from ORGAO where NOME_ORGAO="Ministério da Fazenda"))'
df = pd.read_sql_query(query,conn)
df

      VALOR_DESPESA             NOME_ORGAO
0               0.0  Ministério da Fazenda
1               0.0  Ministério da Fazenda
2               0.0  Ministério da Fazenda
3               0.0  Ministério da Fazenda
4               0.0  Ministério da Fazenda
5               0.0  Ministério da Fazenda
6               0.0  Ministério da Fazenda
7               0.0  Ministério da Fazenda
8               0.0  Ministério da Fazenda
9               0.0  Ministério da Fazenda
10              0.0  Ministério da Fazenda
11              0.0  Ministério da Fazenda
12              0.0  Ministério da Fazenda
13              0.0  Ministério da Fazenda
14              0.0  Ministério da Fazenda
15              0.0  Ministério da Fazenda
16              0.0  Ministério da Fazenda
17              0.0  Ministério da Fazenda
18              0.0  Ministério da Fazenda
19              0.0  Ministério da Fazenda
20              0.0  Ministério da Fazenda
21              0.0  Ministério da Fazenda
22              0.0  Ministério da Fazenda
23              0.0  Ministério da Fazenda
24              0.0  Ministério da Fazenda
25              0.0  Ministério da Fazenda
26              0.0  Ministério da Fazenda
27              0.0  Ministério da Fazenda
28           8215.7  Ministério da Fazenda
29              0.0  Ministério da Fazenda
...             ...                    ...
1097            0.0  Ministério da Fazenda
1098            0.0  Ministério da Fazenda
1099            0.0  Ministério da Fazenda
1100            0.0  Ministério da Fazenda
1101            0.0  Ministério da Fazenda
1102            0.0  Ministério da Fazenda
1103            0.0  Ministério da Fazenda
1104            0.0  Ministério da Fazenda
1105            0.0  Ministério da Fazenda
1106            0.0  Ministério da Fazenda
1107            0.0  Ministério da Fazenda
1108            0.0  Ministério da Fazenda
1109            0.0  Ministério da Fazenda
1110            0.0  Ministério da Fazenda
1111            0.0  Ministério da Fazenda
1112            0.0  Ministério da Fazenda
1113            0.0  Ministério da Fazenda
1114            0.0  Ministério da Fazenda
1115            0.0  Ministério da Fazenda
1116            0.0  Ministério da Fazenda
1117            0.0  Ministério da Fazenda
1118            0.0  Ministério da Fazenda
1119            0.0  Ministério da Fazenda
1120            0.0  Ministério da Fazenda
1121            0.0  Ministério da Fazenda
1122            0.0  Ministério da Fazenda
1123            0.0  Ministério da Fazenda
1124            0.0  Ministério da Fazenda
1125            0.0  Ministério da Fazenda
1126            0.0  Ministério da Fazenda

[1127 rows x 2 columns]

### 2.4 Consulta 15

In [65]:
query = 'select NOME_PROGRAMA_GOVERNO, VALOR_DESPESA(DESPESA_PUBLICA natural join (select NOME_ORGAO from ORGAO where NOME_ORGAO="Ministério da Saúde") natural join (PROGRAMA_GOVERNO))'
df = pd.read_sql_query(query,conn)
df

DatabaseError: Execution failed on sql 'select NOME_PROGRAMA_GOVERNO, VALOR_DESPESA(DESPESA_PUBLICA natural join (select NOME_ORGAO from ORGAO where NOME_ORGAO="Ministério da Saúde") natural join (PROGRAMA_GOVERNO))': near "natural": syntax error

In [4]:
conn.close()