# Trabalho Prático I
###### Aluno: Breno de Sousa Matos
###### Matrícula: 2017086007

In [1]:
import io
import sqlite3
import pandas as pd

Iniciando Conexão

In [5]:
conn = sqlite3.connect('tp1.bd')
cursor = conn.cursor()

Lendo os dados necessários

In [9]:
with open("despesas_publicas_tp1.sql", "r", encoding = "latin-1") as f:
    sql = f.read()
    
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

## 1. Comandos SQL

Meu número de matrícula é $\textbf{2017086007}$. Logo, devo realizar as consultas:
  
 1,9,7,2,3 e 8

### 1.1 Consulta 1

In [17]:
# Liste todos os códigos e nomes de subfunções da função que possui o maior número de subfuncoes.
query = ''
df = pd.read_sql_query(query,conn)
df

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatização e fiscalização
1            126     Tecnologia da informação
2            131           Comunicação social
3            244      Assistência comunitária
4            306       Alimentação e nutrição
5            365            Educação infantil
6            511      Saneamento básico rural

### 1.2 Consulta 9

In [ ]:
# Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) 
# em que o órgão responsável é aquele que possui o maior número de órgãos subordinados.

### 1.3 Consulta 7

In [ ]:
# Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos 
# nas despesas públicas desses órgãos.
# Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no perı́odo.

### 1.4 Consulta 2

In [19]:
# Liste o valor total de despesas públicas por função (nome) e subfunção (nome), apenas
# nos casos em que esse valor total excedeu 200 mil reais.
query = 'SELECT * from DESPESA_PUBLICA'
pd.read_sql_query(query,conn)

,COD_DESPESA,COD_ORGAO,COD_PROGRAMA_GOVERNO,COD_DETALHAMENTO,ANO_DESPESA,MES_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,0,20000,24,8,2018,11,Reserva de Contingência,0.0
1,1,20000,24,10,2018,11,Reserva de Contingência,0.0
2,2,20000,24,10,2018,12,Reserva de Contingência,0.0
3,3,20000,24,11,2018,3,Reserva de Contingência,0.0
4,4,20000,24,11,2018,4,Reserva de Contingência,0.0
5,5,20000,24,11,2018,5,Reserva de Contingência,0.0
6,6,20000,24,11,2018,7,Reserva de Contingência,0.0
7,7,20000,24,11,2018,11,Reserva de Contingência,0.0
8,8,20000,29,4,2018,10,Reserva de Contingência,0.0
9,9,20000,29,4,2018,12,Reserva de Contingência,0.0
10,10,22000,22,35,2018,1,Reserva de Contingência,0.0
11,11,22000,22,35,2018,2,Reserva de Contingência,0.0
12,12,22000,22,35,2018,3,Reserva de Contingência,0.0
13,13,22000,22,35,2018,4,Reserva de Contingência,0.0
14,14,22000,22,35,2018,5,Reserva de Contingência,0.0
15,15,22000,22,35,2018,6,Reserva de Contingência,0.0
16,16,22000,22,35,2018,7,Reserva de Contingência,0.0
17,17,22000,22,35,2018,10,Reserva de Contingência,0.0
18,18,22000,22,35,2018,11,Reserva de Contingência,0.0
19,19,22000,22,35,2018,12,Reserva de Contingência,0.0
20,20,22000,24,10,2018,2,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
21,21,22000,24,10,2018,3,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
22,22,22000,24,10,2018,4,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
23,23,22000,24,10,2018,5,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
24,24,22000,24,10,2018,8,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
25,25,22000,24,10,2018,9,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
26,26,22000,24,10,2018,10,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
27,27,22000,24,10,2018,1,Reserva de Contingência,0.0
28,28,22000,24,10,2018,2,Reserva de Contingência,8215.7
29,29,22000,24,10,2018,3,Reserva de Contingência,0.0
...,...,...,...,...,...,...,...,...
1097,1097,55000,24,13,2018,3,Transferências a Estados e ao Distrito Federal,0.0
1098,1098,55000,24,13,2018,5,Transferências a Estados e ao Distrito Federal,0.0
1099,1099,55000,24,13,2018,6,Transferências a Estados e ao Distrito Federal,0.0
1100,1100,55000,24,13,2018,7,Transferências a Estados e ao Distrito Federal,0.0
1101,1101,55000,24,13,2018,8,Transferências a Estados e ao Distrito Federal,0.0
1102,1102,55000,24,13,2018,9,Transferências a Estados e ao Distrito Federal,0.0
1103,1103,55000,24,13,2018,10,Transferências a Estados e ao Distrito Federal,0.0
1104,1104,55000,24,13,2018,12,Transferências a Estados e ao Distrito Federal,0.0
1105,1105,55000,24,13,2018,1,Transferências a Instituições Privadas sem Fin...,0.0
1106,1106,55000,24,13,2018,2,Transferências a Instituições Privadas sem Fin...,0.0
1107,1107,55000,24,13,2018,3,Transferências a Instituições Privadas sem Fin...,0.0
1108,1108,55000,24,13,2018,5,Transferências a Instituições Privadas sem Fin...,0.0
1109,1109,55000,24,13,2018,6,Transferências a Instituições Privadas sem Fin...,0.0
1110,1110,55000,24,13,2018,7,Transferências a Instituições Privadas sem Fin...,0.0
1111,1111,55000,24,13,2018,8,Transferências a Instituições Privadas sem Fin...,0.0
1112,1112,55000,24,13,2018,10,Transferências a Instituições Privadas sem Fin...,0.0
1113,1113,55000,24,13,2018,12,Transferências a Instituições Privadas sem Fin...,0.0
1114,1114,55000,24,39,2018,1,Reserva de Contingência,0.0
1115,1115,55000,24,39,2018,2,Reserva de Contingência,0.0
1116,1116,55000,24,39,2018,3,Reserva de Contingência,0.0
1117,1117,55000,24,39,2018,4,Reserva de Contingência,0.0
1118,1118,55000,24,39,2018,5,Reserva de Contingência,0.0
1119,1119,55000,24,39,2018,6,Reserva de Contingência,0.0
1120,1120,55000,24,39,2018,7,Reserva de Contingência,0.0
1121,1121,55000,24,39,2018,8,Reserva de Contingência,0.0
1122,1122,55000,24,39,2018,9,Reserva de Contingência,0.0
1123,1123,55000,24,39,2018,10,Reserva de Contingência,0.0
1124,1124,55000,24,39,2018,11,Reserva de Contingência,0.0
1125,1125,55000,24,39,2018,12,Reserva de Contingência,0.0
1126,1126,81000,24,11,2018,5,Reserva de Contingência,0.0

### 1.5 Consulta 3

In [ ]:
# Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os
# mesmos, ordenando de forma decrescente pelo valor.

### 1.6 Consulta 8

In [16]:
# Liste os nomes das subfunções das despesas públicas envolvidas para cada programa de
# governo. Sua consulta deve retornar o nome do programa de governo, a subfunção da
# despesa, a quantidade de entradas de despesas públicas e o valor total dessas despesas.

df = pd.read_sql_query("SELECT * "+
"FROM ORGAO ",
conn)
df

,COD_ORGAO,NOME_ORGAO,QTD_ORGAOS_SUBORDINADOS
0,20000,Presidência da República,2
1,22000,"Ministério da Agricultura, Pecuária e Abastec",5
2,24000,"Ministério da Ciência, Tecnologia, Inovações",4
3,25000,Ministério da Fazenda,3
4,26000,Ministério da Educação,104
5,30000,Ministério da Justiça e Segurança Pública,6
6,35000,Ministério das Relações Exteriores,1
7,36000,Ministério da Saúde,3
8,39000,"Ministério dos Transportes, Portos e Aviação",2
9,44000,Ministério do Meio Ambiente,2
10,52000,Ministério da Defesa,4
11,53000,Ministério da Integração Nacional,4
12,55000,Ministério do Desenvolvimento Social,2
13,81000,Ministério dos Direitos Humanos,1

## 2.1 Tradução de Comandos da Álgebra Relacional

In [4]:
conn.close()